# Introduction
## Objective
Understanding how to effectively combine SQL and Pandas for comprehensive data analysis.This aim to equip you with the skills needed to read from and write to SQL data-bases using pandas perform complex queries and join tables

## Overview of Pandas and SQL integration

- Pandas `read_sql` and `to_sql` functions

1. `read_sql` function: The `read_sql` function in pandas is used to execute SQL queries and load the result into a pandas DataFrame.It is a powerful tool for extracting data from SQL databases and integrating it into our data analysis workflow.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# pandas.read_sql(sql,con,index_col=None,corerce_float=True, params=None, chunksize=None)

- **Parameters:**

- `sql` : The SQL query or name of the table to read from.This can be a SQL query string or a table name.
- `conn` : A database connection object or SQLAlchemy engine intance.This defines the databases connection used to execute the SQL query.
- `inex_col` :(optional) column to set as the index of the DataFrame.If not specified,a default integer index is used.
- `coerce_float` : (opional) if True,attempts to converts values to float.
- `params` : (Optional) parameters to pass the SQL query,used to parametrized queries.
- `chunksize`:(optional) if specified,the funtion will return an iterator where each chunk in DataFrame with up to `chunk-size` rows.

In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:

# create a database connection
engine=create_engine('mysql://root:raghav85299@localhost/test')

In [6]:
# sql query
query='SELECT*FROM employee'

In [7]:
# Read data from the database
df=pd.read_sql(query,con=engine)

In [8]:
print(df.head())

   EID EMPLOYEE_NAME  SALES_MADE
0  102        SARIKA      4500.0
1  100       ALEKHYA      3623.0
2  101       REVATHI      1291.0
3  103         VIVEK      3426.0

2. `to_sql` function
The `to_sql` function allow to write a pandas DataFrame to a SQL database,either creating a new table or appending to an existing one.This function facilitates data persistence and integration with databases

In [9]:
# DataFrame.to_sql(name,con,schema=None,if_exists='fail',index=True,index_label=None,chunksize=None,dtype=None)

- **Parameters**: 

- `name` : The name of the table to write to.If the table does not exists,it will be created.
- `con` : A database connection object or SQLAlchemy engine instance.Defines the database connection used to write the DataFrame.
- `schema` : (Optional) The databases schema to write to.Default is None.
- `if_exists` : (Optional) Specifies whtat to do if the table already exists.option include
   - `fail` : (default) Raise an error
   - `replace` : Drop the table before inserting new values.
   - `append` : Append data to the existing table.
- `index` : (optional) whether to write the Dataframe index as a column.Default is None.
- 'index_label` : (Optional) column name to use for index column.Default is None.
- `chunksize` : (optional) Number of rows to write at a time.Useful for large dataframes.
- `dtype`: (optional) Data type to force for columns.Can be a dictionary mapping column names to data types.

In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
# create a database connection
engine=create_engine('mysql://root:raghav85299@localhost/test')

In [12]:
#sample DataFrame
df=pd.DataFrame({
    'name':['John Doe','Jane Smith'],
    'age' : [30,25]
})

In [13]:
# Write DataFrame to SQL table
df.to_sql('customers', con=engine, if_exists='append', index=False)

print("Data written to database successfully.")

Data written to database successfully.

# Additional Functions and Methods Related to SQL Integration
- `SQLAlchemy.create_engine`
- Used to create a SQLAlchemy engine,which is required for connecting to various type of SQL databases.It provide a unified interface for interacting with different database system.

In [14]:
from sqlalchemy import create_engine
engine=create_engine('postgresql+psycopg2://postgres:raghav85299@localhost:5432/library.db')

`DataFrame.query`
- Allows you to query a DataFrame using a SQL-like syntax.Useful for filtering and selecting data within a DataFrame.

In [15]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob'], 'Age': [25, 30, 22]}
customers = pd.DataFrame(data)

# Use the query method to filter rows where Age is greater than 25
filtered_customers = customers.query('Age > 25', inplace=False)

# Display the filtered DataFrame
print(filtered_customers)

    Name  Age
1  Alice   30

In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
# Create a database connection
engine = create_engine('sqlite:///expense_tracker.db')

In [18]:
#sql query
query= 'SELECT*FROM expenses'

In [19]:
#read data from the database
df=pd.read_sql(query,con=engine)
print(df.head())

         name  age
0    John Doe   30
1  Jane Smith   25

In [20]:
# to_sql 
import pandas as pd
from sqlalchemy import create_engine
#create a database connection
engine=create_engine('sqlite:///expense_tracker.db')

In [21]:
#sample Dataframe
df=pd.DataFrame({
    'name':['John Doe','Jane Smith'],
    'age':[30,25]
})

In [22]:
#wite datafram to sql table
df.to_sql('expenses',con=engine,if_exists='replace',index=False)
print('Data written to database successfully')

Data written to database successfully

In [23]:
print(df.head())

         name  age
0    John Doe   30
1  Jane Smith   25

# Querying Databases With Pandas
Querying databases with pandas involves retrieving data from SQL databases and manipulating it within pandas DataFrames.This integration allow to perform complx data analysis by combining the power of SQL with pandas data manipulation capabilities.

1. **Filtering Data** : 
Filtering data means retrieving only those row from a table that meet certain conditions.We can either filter the data directly in the SQL query or load the data into a pandas DataFrame and then apply filtering.

In [24]:
# Filtering with SQL query
import pandas as pd
from sqlalchemy import create_engine

In [25]:
#step1: create a database connection using sqlalchemy's create_engine functions.
#this allows pandas to communicate with the database
engine=create_engine('mysql://root:raghav85299@localhost/test')

In [26]:

#step2: write an sql query to select all employees older than 30
query='SELECT*FROM customers WHERE age<30'

In [27]:
# Step 3: Execute the SQL query using pd.read_sql() to fetch the data from the database.
# The fetched data is automatically loaded into a Pandas DataFrame.
df=pd.read_sql(query,con=engine)

In [28]:
#step4:Displaying the resulting DataFrame
print(df)

         name  age
0  Jane Smith   25
1  Jane Smith   25
2  Jane Smith   25
3  Jane Smith   25
4  Jane Smith   25
5  Jane Smith   25
6  Jane Smith   25

# Explanation
- `pd.read_sql(query,con=engine)`: This function executes the SQL query and loads the result into a Pandas DataFrame.The `con=engine` parameter specifies the database connection.
- The DataFrame `df` now contains only those employees whose age is less than 30

In [29]:
#using the sqlite

#filtering with sql query

import pandas as pd
from sqlalchemy import create_engine
#step1: Create a database connection using SQLAlchemy's create_engine function.
#This allows pandas to communicate with the database
engine=create_engine('sqlite:///library.db')

In [30]:
#step2: Write an SQL query to select all books title
query="SELECT*FROM books WHERE id=3"

In [31]:
# Step 3: Execute the SQL query using pd.read_sql() to fetch the data from the database.
# The fetched data is automatically loaded into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

In [32]:
# Step 4: Display the resulting DataFrame.
print(df)

   id                title       author published_date               isbn
0   3  Pride and Prejudice  Jane Austen     1813-01-28  978-0-19-953556-9

# Filtering with Pandas

In [40]:
import pandas as pd
from sqlalchemy import create_engine
engine=create_engine('mysql://root:raghav85299@localhost/test')

Empty DataFrame
Columns: [name, age]
Index: []

In [46]:
# query='SELECT*FROM customers WHERE age<30'
df=pd.read_sql(query,con=engine)

In [51]:
# Step1: Assume we have a DataFrame 'df' containing all data 
# We want to filter out whose id is greater than 3
filtered_df = df[df['age'] < 30]

# Step 2: Apply the filtering condition using Pandas' DataFrame filtering.
# Filtering with SQL query

# step 3: Display the filtered DataFrame
print(filtered_df)

         name  age
0  Jane Smith   25
1  Jane Smith   25
2  Jane Smith   25
3  Jane Smith   25
4  Jane Smith   25
5  Jane Smith   25
6  Jane Smith   25

2. **Sorting Data**
Sorting data involves arranging the rows in a DataFrame based on the values in one or more columns.Sorting can be done in SQL before the data is loaded or within Pandas after the data is loaded.

# Sorting with sql query

In [52]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Create a database connection using SQLAlchemy's create_engine function.
# This allows Pandas to communicate with the database.
engine = create_engine('mysql://root:raghav85299@localhost/abc')

In [63]:
#step1 write an sql query to sort the  data by age in descending order
query='SELECT*FROM clients ORDER BY AGE DESC'
a='SELECT*FROM clients ORDER BY SALARY ASC'

In [64]:
#Step2: Execute the SQL query and load the sorted data into a pandas DataFrame
df=pd.read_sql(query,con=engine)
df1=pd.read_sql(a,con=engine)

In [61]:
#step3: Display the sorted DataFrame
print(df)

   ID FULL_NAME  AGE    ADDRESS  SALARY
0   1    Ramesh   32  Ahmedabad  2000.0
1   2    Khilan   25  Ahmedabad  1500.0

In [65]:
print(df1)

   ID FULL_NAME  AGE    ADDRESS  SALARY
0   2    Khilan   25  Ahmedabad  1500.0
1   1    Ramesh   32  Ahmedabad  2000.0

# Explanation
- `ORDER BY AGE DESC`:This clause sorts the rows by the `age` column in descending order(highest ages first).
- The resulting DataFrame `df` is sorted by age when loaded

In [66]:
#using sqlite
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Create a database connection using SQLAlchemy's create_engine function.
# This allows Pandas to communicate with the database.
engine = create_engine('sqlite:///contacts.db')

In [67]:
# Step 1: Write an SQL query to sort the data by age in descending order.
query = "SELECT * FROM contacts WHERE first_name='John'"

In [68]:
# Step 2: Execute the SQL query and load the sorted data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

In [69]:
# Step 3: Display the sorted DataFrame.
print(df)

   id first_name last_name phone_number                   email
0   1       John       Doe     555-9999  john.doe@newdomain.com

# Sorting with Pandas

In [78]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Create a connection to the 'abc' database
# Replace 'username', 'password', 'hostname', and 'database_name' with your actual database details
engine = create_engine('mysql://root:raghav85299@localhost/abc')

In [79]:
# Step 2: Write the SQL query to fetch all data from the 'clients' table
query = "SELECT * FROM clients"

# Step 3: Execute the SQL query to fetch the data from the database and load it into a pandas DataFrame
df = pd.read_sql(query, con=engine)

In [80]:
# Step 4: Sort the DataFrame by the 'age' column in descending order
sorted_df = df.sort_values(by='AGE', ascending=False)

# Step 5: Display the sorted DataFrame
print(sorted_df)

   ID FULL_NAME  AGE    ADDRESS  SALARY
0   1    Ramesh   32  Ahmedabad  2000.0
1   2    Khilan   25  Ahmedabad  1500.0

In [86]:
sorted_df = df.sort_values(by='FULL_NAME', ascending=True)

# Display the sorted DataFrame
print(sorted_df)

   ID FULL_NAME  AGE    ADDRESS  SALARY
1   2    Khilan   25  Ahmedabad  1500.0
0   1    Ramesh   32  Ahmedabad  2000.0

- **Explanation**
- `df.sort_values(by='AGE',ascending=False)`: This sorts the DataFrames by the `age` column in descending order.This `ascending=False` argument specifies the sort order.
- The DataFrame `sorted_df` is now sorted by age,with the oldest employees first.

3. **Aggregating Data**

Aggregating data means summarizing the data using operations like sum,average,count etc.Aggregation can be done directly in SQL or using Pandas after loading the data.

# Aggregating with SQL Query

In [87]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql://root:raghav85299@localhost/abc')

In [88]:
# Step 2: Write an SQL query to calculate the average salary from the 'clients' table
query = 'SELECT AVG(SALARY) AS average_salary FROM clients'

# Step 3: Execute the SQL query and load the result into a pandas DataFrame
df = pd.read_sql(query, con=engine)

# Step 4: Display the DataFrame with the average salary
print(df)

   average_salary
0          1750.0

# Explanation:
- `AVG(SALARY) AS average_salary`: This calculates the average salary for each departments.

KeyError: 'SALARY'